header{
    background-color: #341943aa;
    border-color: #2a316aaa;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0px;
    z-index: 1030;
    left: 0px;
    margin-bottom: 60px;
}

.headerController{
    margin-inline: auto;
    padding-inline: 16px;
    height: 64px;
    width: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;

    @media (width >= 40rem) {
        max-width: 40rem;
    }
    @media (width >= 48rem) {
        max-width: 48rem;
    }
    @media (width >= 64rem) {
        max-width: 64rem;
    }
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    max-width: 40px;
    max-height: 40px;
}